<a href="https://colab.research.google.com/github/IoThang/AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt', mode = 'w') as accounts:
  accounts.write('20145196 A 10\n')
  accounts.write('20145197 B 6\n')
  accounts.write('20145198 C 8\n')

  print('20145191 D 7', file = accounts)
  print('20145192 E 9', file = accounts)
  print('20145193 F 15', file = accounts)

In [ ]:
with open('text.txt', mode = 'r') as accounts:
  print(f''{'MSSV': < 10}{'Name': < 2.0}{'Score': > 2}'')
  for record in accounts:
    MSSV,Name, Score = record.split()
      print(f''{'MSSV': < 10}{'Name': < 2.0}{'Score': > 2}'')

SyntaxError: ignored

In [25]:
import pandas as pd
url = 'list.csv'
dataframe = pd.read_csv(url)
# dataframe.head(20)
# dataframe.iloc[10:]

# dataframe = dataframe.set_index(dataframe['A'])
# dataframe.loc['B']

1                  2
20145196    19146189
A                  B
CKM              DDT
9                7.0
Name: B, dtype: object

In [ ]:
import pandas as pd
url = 'list.csv'
dataframe = pd.read_csv(url)

# dataframe.head(20)
# dataframe.iloc[10:]

# dataframe = dataframe.set_index(dataframe['NAME'])
# dataframe.loc['B']

# dataframe[dataframe['FAL'] == 'DDT'].head(10)

# dataframe[(dataframe['FAL'] == 'CKM') & (dataframe['NAME'] == 'H')]

# dataframe['FAL'].replace('DDT', 'D-DT').head(10)
# dataframe.replace('DDT', 'D-DT').head(10)

# print('Highest score: ', dataframe[])

# Dem bao nhieu khoa khac nhau
# dataframe['FAL'].unique()

# Dem bao nhieu so luong khoa lap lai
# dataframe['FAL'].value_counts()

# Xoa 1 cot (1 truong)
# dataframe.drop('MSSV', axis = 1).head(10)

#Xoa nhieu cot
# dataframe.drop(['MSSV', 'FAL'], axis = 1).head(10)

# Xoa cot theo index 
# dataframe.drop(dataframe.columns[2:4], axis = 1).head(10)

# Xoa hang theo khoa
# dataframe[dataframe['FAL'] != 'CKM'].head(10)

#Xoa hang theo diem
# dataframe[dataframe['SCORE'] != 5].head(10)

#Xoa hang theo index
# dataframe[dataframe.index != 4]. head(10)

#Xoa hang giong nhau het
# dataframe.drop_duplicates().head(10)

#Gop hang
dataframe.groupby('FAL').count()
dataframe.groupby(['FAL', 'SCORE']).count()

In [ ]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023', periods = 100000, freq = '30S')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] = np.random.randint(1, 10, 100000)
# Lay mau 1 tuan
dataframe.resample('W').sum()

#Lay mau 2 tuan
# dataframe.resample('2W').mem()
# dataframe.resample('M').mem()

In [69]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)

# Dem so huy chuong cua cac nuoc
dataframe['NOC'].value_counts()

# Dem HCV cua USA
dataframe[(dataframe['NOC'] == 'USA') & (dataframe['Medal'] == 'Gold')].drop(dataframe.columns[0:7],axis=1).count()

# Huy chuong vang cho USA
dataframe[(dataframe['NOC'] == 'USA') & (dataframe['Medal'] == 'Gold')]

Medal    78
dtype: int64